name: build-rails-buildpack

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/build-rails-buildpack.yml'
      - '**/Dockerfile'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: '3.2.9'
            folder: '3.x' # bookworm for linux/amd64
            tag: '3.2.9-bookworm@sha256:2189f834a4f78b2bb1911b324fa37cb91efe41d404d22418962494506d56ea2c'
          - ruby: '3.3.10'
            folder: '3.x' # bookworm for linux/amd64
            tag: '3.3.10-bookworm@sha256:fbe24b140ddc00c3cbceb6c25220d11ce959203b543538e3fc64e185d1906da9'
          - ruby: '3.4.8'
            folder: '3.x' # bookworm for linux/amd64
            tag: '3.4.8-bookworm@sha256:687432dc8f4094557514f9bd3cd314457d5d86008e70793b7a5d4d9beefa417f'
          - ruby: '4.0.1'
            folder: '4.x' # bookworm for linux/amd64
            tag: '4.0.1-bookworm@sha256:3d214c5d400d2ec48287926193b82d90140ea508ff12f700ac1a0a78441d9e85'
    container:
      image: docker:git
      env:
        DOCKER_REPOSITORY: public.ecr.aws/degica/rails-buildpack
        DOCKER_BUILDKIT: '1'
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
    runs-on: ubuntu-latest
    steps:
    - name: prepare
      run: |-
        apk add --no-cache python3 py3-pip
        pip3 install --break-system-packages --upgrade pip
        pip3 install --break-system-packages awscli
    - name: workaround git security
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - uses: actions/checkout@v3
    - name: setup
      run: git submodule update --init
    - name: build_and_push
      run: |-
        cd rails-buildpack/${{ matrix.folder }}
        if [[ ${GITHUB_REF##*/} == 'master' ]]; then
            IMAGE_TAG=${{ matrix.ruby }}
        else
            IMAGE_TAG=test-${GITHUB_REF##*/}-${{ matrix.ruby }} # branch name for dev usecases
        fi
        aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws/degica
        docker build . -t $DOCKER_REPOSITORY:$IMAGE_TAG --build-arg RUBY_TAG=${{ matrix.tag }} --pull
        docker images
        docker push $DOCKER_REPOSITORY:$IMAGE_TAG
        docker tag $DOCKER_REPOSITORY:$IMAGE_TAG $DOCKER_REPOSITORY:latest
        docker push $DOCKER_REPOSITORY:latest
